<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--          crossorigin="anonymous">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->


<!--<form th:action="@{/admin/deleteUser/{id}(id=${user.id})}" method="post">-->
<!--    <input type="hidden" name="_method" value="delete">-->
<!--    <input type="hidden" name="source" value="appointment">-->
<!--    <button type="submit">Delete</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->