:root {
    --primary-color: #333;
    --secondary-color: #f5f5f5;
    --tertiary-color: #6F8BA4;
    --font-primary: 'Montserrat', sans-serif;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--font-primary);
}

.btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 12px 24px;
    font-family: var(--font-primary);
}

.btn:hover {
    background-color: var(--tertiary-color);
    color: var(--tertiary-color);
    transition: all 0.3s ease-in-out;
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
    font-size: 1rem;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-line {
    background: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 0;
    margin-right: 1rem;
    font-size: 1rem;
}

.btn-line:last-child {
    margin-right: 0;
}

.features {
    margin-top: 225px;
}

.feature-item {
    flex-basis: 33.33%;
    margin: 0px 10px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}

.feature-item .feature-icon i {
    font-size: 50px;
    color: #223a66;
}

.feature-item h4 {
    color: #223a66;
}

.feature-item p {
    font-size: 35px;
}

.feature-section.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}
