<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment Confirmation</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/plugins/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/icofont/icofont.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/slick-carousel/slick/slick.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>">
</head>
<body>

<!--nav bar-->
<div th:replace="nav.html"></div>

<!--confirmation message-->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h2>Appointment Scheduled</h2>
      <hr/>
      <p>Your appointment has been scheduled successfully. Return to your <a href="/profile" >profile</a>
    </div>
  </div>
</div>

</br>
<div th:replace="footer.html"></div>
</body>
</html>
