<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Calendar</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Calendar</h1>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Title</th>-->
<!--        <th>Date and Time</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="appointment : ${appointments}">-->
<!--        <td>-->
<!--            <a th:href="@{/calendar/appointment/{id}(id=${appointment.id})}" th:text="${appointment.title}"></a>-->
<!--        </td>-->
<!--        <td th:text="${appointment.dateTime}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<a href="/calendar/appointment/new">Add Appointment</a>-->
<!--</body>-->
<!--</html>-->