<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/icofont/icofont.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/slick-carousel/slick/slick.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/css/images/favicon.ico}" sizes="16x16">

</head>

<body id="top">

<div th:replace="nav.html"></div>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Contact Us</span>
                    <h1 class="text-capitalize mb-5 text-lg">Get in Touch</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- contact form -->

<section class="section contact-info pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-live-support"></i>
                    <h5>Call Us</h5>
                    1-800-700-6200
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-support-faq"></i>
                    <h5>Email Us</h5>
                    contact@vitalgroup.com
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-location-pin"></i>
                    <h5>Address</h5>
                    2334 Rue Principale, Montreal
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-form-wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="text-md mb-2">Send us a message</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p class="mb-5">Do you have any questions or inquiries? We'd love to hear from you! Fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input name="name" id="name" type="text" class="form-control" placeholder="Your Full Name" >
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <input name="email" id="email" type="email" class="form-control" placeholder="Your Email Address">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input name="subject" id="subject" type="text" class="form-control" placeholder="Subject">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input name="phone" id="phone" type="text" class="form-control" placeholder="Phone Number">
                </div>
            </div>
        </div>

        <div class="form-group-2 mb-4">
            <textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message"></textarea>
        </div>

        <div class="text-center">
            <input class="btn btn-main btn-round-full" name="submit" type="submit" value="Send Message"></input>
        </div>
        </form>
    </div>
    </div>
</section>
</br>
<!-- footer  -->
<div th:replace="footer.html"></div>

</body>
</html>