<!DOCTYPE html>
<html>
<head>
  <title>Delete Account</title>
  <!-- Add Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/plugins/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/icofont/icofont.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/slick-carousel/slick/slick.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>">
</head>
<body>
</body>

</html>

<!--navbar-->
<div th:replace="~{nav.html}"></div>

<div class="container mt-5">
  <h1>Delete Account</h1>
  <p>Are you sure you want to delete your account? </p>
  <form method="post">
    <input type="submit" name="delete" value="Delete Account" class="btn btn-danger">
  </form>
</div>

</br>
<div th:replace="footer.html"></div>

</body>
</html>
```
