<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vital Health Medical Group</title>

    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/icofont/icofont.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/slick-carousel/slick/slick.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

</head>

<body id="top">

<div th:replace="nav.html"></div>

<!-- BANNER  -->
<
<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7">
                <div class="content-block">
                    <div class="divider mb-3"></div>
                    <span class="text-uppercase text-sm letter-spacing ">Personalized Healthcare Services</span>
                    <h1 class="mb-3 mt-3">Your Caring Health Partner</h1>
                    <p class="mb-4 pr-5">We provide exceptional healthcare services that prioritize your unique needs. Our team of expert healthcare professionals offers compassionate care and treatment to each patient.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- KEY FEATURES SECTION -->
<section class="key-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature-block d-lg-flex">
                    <div class="feature-item mb-5 mb-lg-0">
                        <div class="feature-icon mb-4">
                            <i class="icofont-surgeon-alt"></i>
                        </div>
                        <span>24/7 Availability</span>
                        <h4 class="mb-3">Virtual Consultations</h4>
                        <p class="mb-4">Easily schedule virtual appointments with our healthcare professionals through our online booking system.</p>
                        <a th:href="@{/bookAppointment}" class="btn btn-main btn-round-full">Schedule Appointment</a>
                     </div>
                    <div class="feature-item mb-5 mb-lg-0">
                        <div class="feature-icon mb-4">
                            <i class="icofont-ui-clock"></i>
                        </div>
                        <span>Operating Hours</span>
                        <h4 class="mb-3">Service Hours</h4>
                        <ul class="service-hours list-unstyled">
                            <li class="d-flex justify-content-between">Monday - Wednesday: <span>8:00am - 5:00pm</span></li>
                            <li class="d-flex justify-content-between">Thursday - Friday: <span>9:00am - 5:00pm</span></li>
                            <li class="d-flex justify-content-between">Saturday - Sunday: <span>10:00am - 5:00pm</span></li>
                        </ul>
                    </div>

                    <div class="feature-item mb-5 mb-lg-0">
                        <div class="feature-icon mb-4">
                            <i class="icofont-support"></i>
                        </div>
                        <span>Emergency Care</span>
                        <h4 class="mb-3">24/7 Assistance</h4>
                        <p>Contact us anytime for emergency medical care. Our team is always available to provide you with the support you need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div th:replace="footer.html"></div>

</body>
</html>
