<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
  <link rel="stylesheet" th:href="@{/css/plugins/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/icofont/icofont.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/slick-carousel/slick/slick.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <title>Profile Page</title>
  <style>
    #calendar {
      height: 100%;
    }
  </style>
</head>
<body>

<!-- Navigation bar ------------------------------------>
<div th:replace="nav.html"></div>

<!--Error messages-->
<div class="container mt-4">
  <div th:if="${editSuccess}" class="alert alert-success mt-3">
    <p th:text="${editSuccess}"></p>
  </div>
  <div th:if="${errorMessage}" class="alert alert-danger mt-3">
    <p th:text="${errorMessage}"></p>
  </div>
  <div th:if="${cancel}" class="alert alert-success mt-3">
    <p th:text="${cancel}"></p>
  </div>

  <div th:if="${book}" class="alert alert-success mt-3">
    <p th:text="${book}"></p>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Calendar</h5>
          <div id="calendar"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="card">
        <div class="card-text p-4">
          <h1 class="card-title"><span th:text="${user.first_name}"></span></h1>
          <p>
            Last Name: <span th:text="${user.last_name}"></span><br>
            Date of birth: <span th:text="${user.date_of_birth}"></span><br>
            Gender: <span th:text="${user.gender}"></span><br>
            Address: <span th:text="${user.address}"></span><br>
            Phone Number: <span th:text="${user.phone_number}"></span><br>
            Email: <span th:text="${user.email}"></span>
          </p>
          <a href="/editProfile" type="button" class="btn btn-primary btn-sm mt-3">
            Edit Profile
          </a>
        </div>
        </br>
        <div class="card-body">
          <h3 class="card-title">Appointments</h3>
          <a href="/bookAppointment" type="button" class="btn btn-primary btn-sm mt-3 mb-3">
            Schedule Appointment
          </a>
          <ul th:each="appointment: ${appointments}">
            <li>Doctor: <span th:text="${appointment.doctor.first_name}"></span></li>
            <li>Appointment: <span th:text="${#dates.format(appointment.appointmentTime, 'dd/MM/yyyy HH:mm')}"></span></li>
            <li>Reason: <span th:text="${appointment.notes}"></span></li>
            <a th:href="@{/deleteAppointment/{id}(id=${appointment.id})}" class="btn btn-sm btn-danger">Cancel</a>
          </ul>
          </br>
          <form action="/logout" method="POST">
            <button type="submit" class="btn btn-sm btn-secondary">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

<!--ajax attempt-->
<script>
  $(document).ready(function() {
    $.ajax({
      url: '/profile',
      method: 'GET',
      success: function(data) {
        const { appointments } = data;

        $('.card-title span').text(appointments.first_name);
        $('.card-text p span').eq(0).text(appointments.last_name);
        $('.card-text p span').eq(1).text(appointments.date_of_birth);
        $('.card-text p span').eq(2).text(appointments.gender);
        $('.card-text p span').eq(3).text(appointments.address);
        $('.card-text p span').eq(4).text(appointments.phone_number);
        $('.card-text p span').eq(5).text(appointments.email);

        if (appointments) {

          $('#calendar').fullCalendar({


            events: appointments.map(function(appointment) {
              return {
                title: 'Appointment',
                start: appointment.appointmentTime
              };
            })
          });
        }
      },
      error: function(xhr, status, error) {
        // Handle the error case
        console.error(error);
      }
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({

      events: [

        {
          title: 'Appointment 1',
          start: '2023-05-12 10:00:00',

        },
        {
          title: 'Appointment 2',
          start: '2023-05-15 14:30:00',

        },

      ],

      eventClick: function(calEvent, jsEvent, view) {

        let popup = window.open('', 'Event Details', 'width=400,height=300');


        let content = '<h3>' + calEvent.title + '</h3>' +
                '<p>Start: ' + calEvent.start.format() + '</p>' +
                '<p>End: ' + calEvent.end.format() + '</p>';

        popup.document.write(content);
      }
    });
  });
</script>

</br>
<div th:replace="footer.html"></div>

</body>
</html>

